{% load static %}

<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="{% static 'marketplace/script.js' %}"></script>

    <title>Index</title>
    
</head>


<body>

    {% if show_something %}
        ABCD! <br>
    {% endif %}
    
    <a href="{% url 'index' %}">All</a> | 
    <a href="{% url 'make' 1 %}">Toyota</a> |
    <a href="{% url 'make' 2 %}">Lexus</a>  <br>
    
    <br>

    {% for vehicle in page %}

        {{ vehicle.make.name }} - {{ vehicle.type.name }} - {{ vehicle.model }}<br>

        <div class="descr" data-vehicle="{{vehicle.id}}" >
            {{ vehicle.description }}
        </div>

        <button class="edit" data-vehicle="{{vehicle.id}}">Edit</button>

        <br><br><br>

    {% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">{{page.number}}</a></li>
            {% if page.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
      </nav>


</body>

</html>